.section-4 {
    max-width: 1390px;
    width: 100%;
    

    padding: 70px 0;
}
.section-4__container {
    display: flex;
    justify-content: space-between;
    
    border-left: 3px solid #fff;

    padding-left: 58px;
}
.section-4__left {
    max-width: 601px;
}
.section-4__header {
    + * {
        margin-top: 21px;
    }
    span {
        font-weight: 400;
        font-size: 32px;
        line-height: 48px;
    }
}
.section-4__right {

}
.learn-more {
    padding: 16px 57px;
}