.title-1 {
    font-weight: 700;
    font-size: 98px;
    line-height: 147px;

    background: linear-gradient(90deg, #00F0FF, #5773FF, #FF007A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title-2 {
    font-size: 45px;
    line-height: 68px;
}
.title-3 {
    font-weight: 700;
    font-size: 31px;
    line-height: 46px;
}
.title-4 {
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;

    background: linear-gradient(90deg, #00F0FF 0%, #5773FF 46.87%, #FF007A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title-5 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;

    color: #FFFFFF;
}